@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  color: whitesmoke;
  background: rgb(233, 233, 233);
  /* height: 100%;
  position: relative; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  width: 100vw;
  background: rgb(113, 201, 255);
  height: 115px;
}

.logoH1 {
  display: flex;
  /* background: rgb(255, 149, 149); */
  padding: 10px;
  border-radius: 10px;
}

h1 {
  font-size: 44px;
  font-family: Roboto, sans-serif;
  letter-spacing: -4px;
  margin-bottom: -8px;
}

nav p {
  font-family: "Pacifico", cursive;
  font-size: 18px;
}

nav img {
  height: 44px;
  margin-right: 14px;
  margin-top: 14px;
}

header ul {
  display: flex;
  justify-content: space-between;
  /* background: lightcoral; */
  width: 20%;
  min-width: 230px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

header li {
  transition: 0.2s;
  cursor: pointer;
}

header li:hover {
  transform: scale(1.1);
}

header a {
  text-decoration: none;
  color: whitesmoke;
}

/* ******************** MAIN ************************** */

/* main {
  height: 100%;
  position: relative;
} */

.gallery {
  margin: 40px auto;
  padding: 0 20px;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 16px;
  justify-content: center;
}
.item {
  height: 240px;
  background: lightcoral;
  color: #f1f1f1;
  padding: 20px;
  border-radius: 20px;
}

.gallery :nth-child(1) {
  background: url(./assets/img/herisson.jpeg) center/cover;
}
/* .gallery :nth-child(2) {
  background: url(./assets/img/foret.jpeg) center/cover;
}
.gallery :nth-child(3) {
  background: url(./assets/img/chat.jpeg) center/cover;
} */

/*********************** FOOTER ************************/
footer {
  background: rgb(113, 201, 255);
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33%;
  min-width: 300px;
  margin: 0 auto;
}
footer a {
  color: whitesmoke;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

footer a:hover {
  transform: scale(1.1);
}
